{% load static %}


<footer class="footer">
        <div class="footer__column">
            <nav class="footer__navigation">
                <ul class="footer__list">
                    
                    <li class="footer__list-item">
                            <a href="# " class="footer__link">About us</a>
                    </li>
                    <li class="footer__list-item">
                            <a href="# " class="footer__link">support</a>
                    </li>
                    <li class="footer__list-item">
                            <a href="# " class="footer__link">blog</a>
                    </li>
                    <li class="footer__list-item">
                            <a href="# " class="footer__link">press</a>
                    </li>
                    <li class="footer__list-item">
                            <a href="# " class="footer__link">api</a>
                    </li>
                    <li class="footer__list-item">
                            <a href="# " class="footer__link">jobs</a>
                    </li>
                    <li class="footer__list-item">
                            <a href="# " class="footer__link">privacy</a>
                    </li>
                    <li class="footer__list-item">
                            <a href="# " class="footer__link">terms</a>
                    </li>
                    <li class="footer__list-item">
                            <a href="# " class="footer__link">director</a>
                    </li>
                    <li class="footer__list-item">
                            <a href="# " class="footer__link">profiles</a>
                    </li>
                    <li class="footer__list-item">
                            <a href="# " class="footer__link">language</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="footer__column">
            <span class="footer__insta">@ 2018 instagram</span>
        </div>

</footer>